## Settings file was created by plugin Eilif Paths v{{PATHS_CFG_VERSION}}
## Plugin GUID: net.eilif.paths

[HardWood]

## Speed multiplier while on HardWood (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on HardWood: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on HardWood: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 0
actionstamina = 0

[Iron]

## Speed multiplier while on Iron (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on Iron: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on Iron: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 0
actionstamina = 0

[Path]

## Speed multiplier while on Path (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on Path: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on Path: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 1
actionstamina = 1

[PavedRoad]

## Speed multiplier while on PavedRoad (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on PavedRoad: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on PavedRoad: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 1
actionstamina = 1

[Stone]

## Speed multiplier while on Stone (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on Stone: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on Stone: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 0
actionstamina = 0

[Wood]

## Speed multiplier while on Wood (1.0 = vanilla, >1 = faster).
# Setting type: Single
# Default value: 1.4
movement = 1.4

## Stamina-cost multiplier for ordinary movement while on Wood: running, jumping, swimming, dodging, being encumbered (1.0 = vanilla, <1 = drains less).
# Setting type: Single
# Default value: 0.25
staminadrain = 0.25

## Stamina-cost multiplier for tools and weapons while on Wood: attacks, blocking, bow draw, building, hoe and cultivator terrain work, repairs, fishing. 1 = vanilla cost, 0 = free.
# Setting type: Single
# Default value: 0
actionstamina = 0

