profileName: {{PROFILE_NAME}}
mods:
  - name: denikson-BepInExPack_Valheim
    version:
      major: {{BEPINEX_MAJOR}}
      minor: {{BEPINEX_MINOR}}
      patch: {{BEPINEX_PATCH}}
    enabled: true
  - name: Grantapher-ValheimPlus_Grantapher_Temporary
    version:
      major: {{VPLUS_MAJOR}}
      minor: {{VPLUS_MINOR}}
      patch: {{VPLUS_PATCH}}
    enabled: true
  - name: Advize-PlantEverything
    version:
      major: {{PLANT_MAJOR}}
      minor: {{PLANT_MINOR}}
      patch: {{PLANT_PATCH}}
    enabled: true
  - name: Proudlock_Technology-GsValheimStatsClient
    version:
      major: {{GS_MAJOR}}
      minor: {{GS_MINOR}}
      patch: {{GS_PATCH}}
    enabled: true
  - name: Eilif-EilifPaths
    version:
      major: {{PATHS_MAJOR}}
      minor: {{PATHS_MINOR}}
      patch: {{PATHS_PATCH}}
    enabled: true
  - name: Eilif-EilifCompanionClient
    version:
      major: {{COMPANION_MAJOR}}
      minor: {{COMPANION_MINOR}}
      patch: {{COMPANION_PATCH}}
    enabled: true
  - name: Azumatt-AzuCraftyBoxes
    version:
      major: {{AZU_MAJOR}}
      minor: {{AZU_MINOR}}
      patch: {{AZU_PATCH}}
    enabled: true
